device kl8e_console {
  keyboard_iot = 603x
  teleprinter_iot = 604x
  keyboard_input = stdin
  teleprinter_output = stdout
}

device line_printer {
  iot = 660x
  output = stdout
  column_limit = 132
}

device paper_tape {
  iot = 667x
  image = tapes/tp_demo.tape
}

device magtape0 {
  path = demo
  unit = 0
  write_protected = true
}

device magtape1 {
  path = magtape
  unit = 1
  write_protected = false
}
