device kl8e_console {
  keyboard_iot = 603x
  teleprinter_iot = 604x
  keyboard_input = stdin
  teleprinter_output = stdout
}

device line_printer {
  iot = 660x
  output = stdout
  column_limit = 132
}

device paper_tape {
  iot = 667x
  image = tapes/lorem.tape
}

device magtape0 {
  path = magtape
  unit = 0
  write_protected = false
}

device magtape1 {
  path = demo
  unit = 1
  write_protected = true
}

device watchdog {
  iot = 550x
  enabled = true
  mode = halt
  periodic = false
  default_count = 400
  pause_on_halt = true
}
